body {
    color: aqua;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    
}
section {
    background-color: black; 
    height: 600px;
    width: 900px;
    margin: auto;
}
main {
    background-color: blueviolet;
    height: 600px;
    width: 900px;
    columns: 2; 
    column-gap: 10px;
}
p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img {
    width: 450px;
    height: 400px;
    border-radius: 30px;
}
aside {
    background-color: brown;
    columns: 2;
    column-gap: 10px;
    height: fit-content;
    width: 900px;
}
video {
    height: 300px;
}